.centerDiv {
    width: 80%;
    min-height: 400px;
    margin-left: 10%;
    margin-top: 60px;
}

.centerImage {
    width: 80%;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonAdd {
    float: right;
}

.plainList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrap {
    max-width: 1024px;
    margin: 5rem auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
    border: 1px solid #efefef;
    border-radius: 0.5rem;
    position: relative;
}